<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Projekty</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</head>
<body>

<h1 th:if="${project.id == null}">
  Nowy projekt
</h1>
<h1 th:if="${project.id != null}">
  Edycja projektu <span th:text="${project.code}"></span>
</h1>

<form th:action="@{/projects/save}" th:object="${project}" method="post">
  <input type="hidden" th:field="*{id}">

  <div class="mb-3 row">
    <div class="col-4">
      <label for="project-name" class="form-label">
        Nazwa
      </label>
    </div>

    <div class="mb-3">
      <input type="text" class="form-control" id="project-name" th:field="*{name}">
    </div>
  </div>

  <div class="mb-3">
    <label for="project-code" class="form-label">
      Kod
    </label>

    <input type="text" class="form-control" id="project-code" th:field="*{code}">
  </div>

  <div class="mb-3">
    <label for="project-description" class="form-label">
      Opis
    </label>

    <textarea class="form-control" id="project-description" rows="10" th:field="*{description}"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">
    Zapisz
  </button>

  <a th:href="@{/projects}" class="btn btn-secondary">
    Anuluj
  </a>
</form>
</div>
</body>
</html>

